.title {
  color: var(--neonGreen);
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  .title{
    font-size: 12px;
  }
}