.container{
  background-color: var(--darkGrayishBlue);
  height: 40vh;
  width: 30vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  .container{
    width: 80vw;
  }
}