@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --lightCyan:  hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
  --fontSize: 28px;
  --fontWeigth: 800;

}

html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--darkBlue);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  font-weight: var(--fontWeigth);
  font-family: "Manrope", sans-serif;
}

.dice{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.imgDivider{
  background-image: url('./assets/pattern-divider-desktop.svg') ;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 80%;
  
}


.loading{
  height: 30px;
  width: 30px;
  border: 5px solid var(--darkBlue);
  border-left: 5px solid var(--grayishBlue);
  margin: 30px 0;
  /* background-color: ; */
  animation: loading 1.5s linear infinite;
  border-radius: 50%;
}

@keyframes loading {
  to{
    /* border-left: 5px solid var(--grayishBlue); */
    transform: rotate(360deg);
  }
}